body{
    background-color: blueviolet;
    background: linear-gradient(45deg, blueviolet 10%, cyan 90%);
}
.CountDown_Main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

