.primary{
    color: white;

}
input.primary{
    outline: none;
    background: none;
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.5rem;
}
input.primary:hover{
    border: 2px solid rgb(197, 137, 253);
    
}
input.primary:not(input[type="submit"]):focus{
    border: 2px solid blueviolet;
    
}
input[type="submit"].primary:active{
    border: 2px solid blueviolet;
    
}
.secondary{
    color: rgb(174,0,255);
}
.flex{
    display: flex;
}
.f-column{
    flex-direction: column;
}
.r-gap1{
    row-gap: 1rem;
}
.r-gap0{
    row-gap: 0.5rem;
}
.align-item-centre{
    align-items: center;
}